<!DOCTYPE html>
<%- include("../partials/header.ejs") %>
<body onload="showdata(<%=JSON.stringify(items)%>)">
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7  col-sm-8">
                    <div class="row justify-content-between  pb-2">
                        <div class="col-md-3 col-sm-8">
                            <h2>My Bag</h2>
                        </div>
                        <div class="col-md-5 col-sm-8">
                            <h6 class=" m-0 pt-3 text-muted">Item Are Reserved For 60Min</h6>
                        </div>
                    </div>
                    <div class="row py-5 border-top"  id="data">
                        
                    </div>
                    
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4 col-sm-8">
                    <div class="pb-2">
                        <div class="col-md-8 pb-2">
                            <h2>Total</h2>
                        </div>
                        <div class="py-3 border-top">
                            <div class=" row justify-content-around my-2">
                                <div class="col-md-8  col-6">
                                    <h6 class="price">Sub-Total</h6>
                                </div>
                                <div class="col-md-2 col-4">
                                    <h6>22.5$</h6>
                                </div>
                            </div>
                            <div class=" row justify-content-around my-2">
                                <div class="col-md-8 col-6">
                                    <h6 class="price">Delivery</h6>
                                </div>
                                <div class="col-md-2 col-4">
                                    <h6>0.0$</h6>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-success my-2 w-100">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </section>

    <script>
        function showdata(items){
           // console.log(items);
           // data = JSON.parse(items);
           let data = ``;
            items.forEach(element => {
                data +=`
                <div class="col-md-4  col-sm-8">
                            <img src="${element.productImage}" class="w-100" alt="">
                        </div>
                        <div class="col-md-8 pt-4  col-sm-8">
                            <h3 class="price">${element.price}</h3>
                            <p class="py-2">${element.description}</p>
                            <a href="#" class="btn">Remove</a>
                </div>
                `

            });
            document.getElementById('data').innerHTML = data;
        }

        // function showData(){

        // }

    </script>
</body>
<%- include("../partials/footer.ejs") %>
   
</html>